{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'index.css' %}">
{% block content %}

<div class="aboutheader">
    <div><img src="{% static 'me.jpg' %}" width="400" height="400" class="mypic"></div>
    <div class="mytext">
        <h1>Hey there! Welcome to my About Page</h1><br>
        <p>
            Throw in a bunch of text here later
            Throw in a bunch of text here later
            Throw in a bunch of text here later
            Throw in a bunch of text here later
            Throw in a bunch of text here later
            Throw in a bunch of text here later
            Throw in a bunch of text here later
        </p>
    </div>
</div>

{% endblock %}
